[class^='cpt-'] {
	background: url('../img/component.png') no-repeat;
	width: 80px;
	height: 80px;
}
.cpt-1 {
	background-position: 0 0;
}
.cpt-2 {
	background-position: 0 -80px;
}
.cpt-22 {
	background-position: 0 -160px;
}
.cpt-23 {
	background-position: 0 -240px;
}
.cpt-3 {
	background-position: 0 -320px;
}
.cpt-333 {
	background-position: 0 -400px;
}
.cpt-43 {
	background-position: 0 -480px;
}
.cpt-45 {
	background-position: 0 -560px;
}
.cpt-65 {
	background-position: 0 -640px;
}
.cpt-765 {
	background-position: 0 -720px;
}
.cpt-DF {
	background-position: 0 -800px;
}
.cpt-bfdf {
	background-position: 0 -880px;
}
.cpt-cvdfv {
	background-position: 0 -960px;
}
.cpt-dfs {
	background-position: 0 -1040px;
}
.cpt-fgns {
	background-position: 0 -1120px;
}
.cpt-hbd {
	background-position: 0 -1200px;
}
.cpt-ndfr {
	background-position: 0 -1280px;
}
.cpt-nfxb {
	background-position: 0 -1360px;
}
.cpt-rndfgbg {
	background-position: 0 -1440px;
}
.cpt-xxxx {
	background-position: 0 -1520px;
}